
h3{
    color: white;
    padding-top: 125px;
    text-align: center;
    width: 100%;
}

.banner{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}

#home-banner{
    background-image: url('https://images.freeimages.com/images/large-previews/2fa/mountains-1364006.jpg');
    height: 1200px;
}

.no-padding{
    padding: 0;
}


#purchases-banner{
    background-image: url('https://images.freeimages.com/images/large-previews/c04/beaches-1385387.jpg');
    height: 300px;
}

#vendors-banner{
    background-image: url('https://images.freeimages.com/images/large-previews/1ff/office-buildings-2-1218472.jpg');
    height: 300px;
}